@import "tailwindcss";

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --font-poppins: "Poppins", "sans-serif";
    --font-quick-sand: "Quicksand Variable", "sans-serif";
}

body {
    font-family: "Poppins", "sans-serif";
}

